<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CategoryMapper">


    <update id="update" parameterType="com.sky.entity.Category">
        UPDATE category
        <set>
            <!-- 更新分类名称 -->
            <if test="name != null and name != ''">
                name = #{name},
            </if>

            <!-- 更新类型: 1菜品分类 2套餐分类 -->
            <if test="type != null">
                type = #{type},
            </if>

            <!-- 更新顺序 -->
            <if test="sort != null">
                sort = #{sort},
            </if>

            <!-- 更新状态 -->
            <if test="status != null">
                status = #{status},
            </if>

            <!-- 更新创建时间 -->
            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <!-- 更新修改时间 -->
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <!-- 更新创建人 -->
            <if test="createUser != null">
                create_user = #{createUser},
            </if>

            <!-- 更新修改人 -->
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="get" resultType="com.sky.entity.Category">
        select * from category
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
    </select>

</mapper>